html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'ZurichBT', 'Zurich', 'Open Sans', sans-serif;
  margin-bottom: 60px;
}

.item img {
    width: 100%;
}

.carousel-caption h3 a {
    color: rgb(255,255,255);
}

.carousel {
    margin-bottom: 60px;
}

.carousel-caption h3 a:hover {
    text-decoration: none;
}


.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

p {
    font-size: 16px;
}

#select_from_me {
    font-family: 'Hack', monospace;
}


/* footer */
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: white;
}

.container .text-muted {
  margin: 20px 0;
}
/* /footer */